name: Auto-merge Dependabot
on: pull_request

permissions:
  pull-requests: write
  contents: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable Pull Request Automerge
        run: gh pr merge --merge --auto "$PR"
        env:
          GH_TOKEN: ${{ secrets.PAT }}
          PR: ${{ github.event.pull_request.number }}
